@{
    ViewData["Title"] = "Products Page";
}

<h1>Products</h1>

<table class="product-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
    </tr>
    </thead>
    <tbody>
    
    </tbody>

</table>